/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require dataTables/bootstrap/3/jquery.dataTables.bootstrap
 */

@import "biola-frontend-toolkit";

html {
  background-color: #FFFFFF;
}

.types-container {
  text-align: center;
  padding: 40px 0;
}

.language-buttons {
  list-style-type: none;
  padding: 0px;
  margin: auto;
  width: 400px;
}

.language-buttons li {
  margin: 15px 0;
}

.language-buttons li a {
  font-size: 1.75em;
}

.test-buttons li a {
  font-weight: bold;
}

.dataTables_filter label{
  margin-right: 50px;
}

.exam-admin-container {
  margin: 0 50px;
}

div.dataTables_filter input {
  margin-left: 15px;
}

#exams-table {
  color: #242424;
  font-size: 0.9em;
}

#exams-table tr td {
  border: 1px solid #dddddd;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #F7F4D9;
}

#admin-button {
  position: relative;
  top: -380px;
}

.special-font {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}
